<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <HoursePerDay>1</HoursePerDay>
  <CardsPerDay>25</CardsPerDay>
  <Theme>Dark</Theme>
  <CardOrder>Random</CardOrder>
  <ShowImages>true</ShowImages>
</Settings>