<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <HoursPerDay>3.5</HoursPerDay>
  <CardsPerDay>29</CardsPerDay>
  <Theme>Dark</Theme>
  <CardOrder>Descending</CardOrder>
  <ShowImages>true</ShowImages>
</Settings>